@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Paper Hybrid - Forgot Password</title>
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/vnd.microsoft.icon" />
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/ionicons")
    @Styles.Render("~/css/datatables")
    @Styles.Render("~/css/select2")
    @Styles.Render("~/css/spinkit")
    @*@RenderSection("head", required: false)*@
    @Styles.Render("~/css/application")
    @Scripts.Render("~/js/session")
    <script src="~/lib/jquery-1.8.2.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            var _Form = $('#form1');
            _Form.submit(function (e) {
                msgbox = $('#msgbox', _Form);
                e.preventDefault();
                bootbox.confirm({
                    title: "Confirmation",
                    message: "Are you sure you want to submit the request?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },

                    callback: function (result) {
                        if (result) {
                            RequestStarted($("#SaveButton"));
                            //alert();
                            try {
                                var request = {
                                    UserID: $('#UserID').val(),
                                };
                                var _data = JSON.stringify(request);
                                //console.log(_data);
                                $.ajax({
                                    type: "POST",
                                    url: "/api/user/forgotpass",
                                    data: _data,
                                    contentType: "application/json; charset=utf-8",
                                    async: true,
                                    success: function (response) {
                                        if (response.ResponseCode != null && response.ResponseCode == '00') {
                                            showAlert({
                                                message: response.ResponseMsg,
                                                type: 'success',
                                                callback: function () { location.reload(); }
                                            });
                                        }
                                        else {
                                            showAlert({
                                                message: response.ResponseMsg,
                                                type: 'error',
                                                callback: RequestEnded
                                            });
                                        }
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        showAlert({
                                            message: response.ResponseMsg,
                                            type: 'error',
                                            callback: RequestEnded
                                        });
                                    }
                                });
                            }
                            catch (e) {
                                showAlert({ message: 'Error occurred', type: 'error' });
                                RequestEnded();
                            }
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="slim-header">
        <div class="container">
            <div class="slim-header-left">
                <h2 class="slim-logo">
                    <a href="@Url.Action("Index", "Home" )">
                        <img src="~/img/logo.png" />&nbsp;&nbsp;Paper Hybrid<span></span>
                    </a>
                </h2>
            </div><!-- slim-header-left -->
        </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
        <div class="container">
            <ul class="nav">
                <li class="nav-item with-sub active">
                    <a class="nav-link" href="@Url.Action("Index", "Home" )">
                            <i class="icon ion-ios-home-outline"></i>
                            <span>Login</span>
                        </a>
                </li>
            </ul>
        </div><!-- container -->
    </div>

    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                </ol>
                <h6 class="slim-pagetitle">Forgot Password</h6>
            </div><!-- slim-pageheader -->

            <div class="section-wrapper">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "form1" }))
                {
                    <label class="section-title"></label>
                    <input id="msgbox" type="hidden" value="" />
                    <div class="form-layout">
                        <div class="row mg-t-25">
                            <label class="col-sm-3 form-control-label">
                                <span class="tx-danger">*</span> User ID:
                            </label>
                            <div class="col-sm-5 mg-t-10 mg-sm-t-0">
                                <input id="UserID" type="text" maxlength="100" placeholder="Enter your User ID" required="required" class="form-control" name="UserID" />
                            </div>
                        </div>
                        <div class="form-group col-lg-6"></div>
                        <div class="form-layout-footer">
                            <label class="col-sm-3 form-control-label">&nbsp;</label>
                            <button type="submit" id="SaveButton" class="btn btn-primary bd-0">Submit</button>
                        </div><!-- form-layout-footer -->
                    </div><!-- form-layout -->
                }
            </div>
        </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
        <div class="container">
            <p class="mg-b-10">Copyright @DateTime.Today.Year &copy; All Rights Reserved. MTN Nigeria</p>
            <p class="mg-b-10">Powered by: <a href="">United Securities Limited</a></p>
            <p class="mg-b-0">Please call @API.Settings.Site.Phone for enquiry</p>
        </div><!-- container -->
    </div><!-- slim-footer -->

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/popper")
    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/js/jquery.cookie")
    @Scripts.Render("~/js/moment")
    @Scripts.Render("~/js/jquery-ui")
    @Scripts.Render("~/js/datatables")
    @Scripts.Render("~/js/select2")
    @Scripts.Render("~/js/bootbox")
    @Scripts.Render("~/js/ResizeSensor")
    @Scripts.Render("~/js/application")
    <script>
        $(document).ready(function () {
            timeIt();
        });
    </script>


</body>
</html>








